/* Dark Mode Styles */
body {
  background: #121212;
  color: #E0E0E0;
  font-family: "Roboto", sans-serif;
}

a {
  color: #BB86FC;
}

.weather-app {
  background: #1E1E1E;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.5);
}

header {
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.search-input {
  background-color: #333;
  border: none;
  color: #E0E0E0;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #BB86FC;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  color: #E0E0E0;
}

.current-details {
  color: #B0B0B0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #F65282;
}

footer {
  border-top: 1px solid #333;
  text-align: center;
  padding-top: 15px;
  color: #B0B0B0;
}

/* Forecast Section */
#forecast {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 20px 0;
  scrollbar-width: thin;
  scrollbar-color: #BB86FC #333;
}

/* Forecast Cards */
.forecast-card {
  background: #2A2A2A;
  color: #E0E0E0;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  min-width: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 500;
  transition: transform 0.3s, box-shadow 0.3s;
}

.forecast-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

.forecast-day {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #BB86FC;
}

.forecast-temp {
  font-size: 16px;
  font-weight: bold;
  color: #fbfbfb;
}

#forecast::-webkit-scrollbar {
  height: 6px;
}

#forecast::-webkit-scrollbar-thumb {
  background: #BB86FC;
  border-radius: 5px;
}

#forecast::-webkit-scrollbar-track {
  background: #333;
}


.current-temperature {
  display: flex;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  color: #272142; 
  margin-top: 20px;
}

.current-temperature.dark-mode {
  color: #e0e0e0; 
}

.current-temperature-icon {
  margin-right: 10px;
  font-size: 40px;
  color: #885df1; 
}

.current-temperature-icon img {
  width: 80px;
  height: 80px;
}

.current-temperature.dark-mode .current-temperature-icon {
  color: #e0e0e0; 
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
  color: #f9f8f8; 
}

.current-temperature.dark-mode .current-temperature-value {
  color: #fbfbfb; 
}

.current-temperature-unit {
  font-size: 28px;
  margin-left: 5px;
  position: relative;
  top: -15px;
  color: #885df1; 
}

.current-temperature.dark-mode .current-temperature-unit {
  color: #e0e0e0; 
}
